.header-container > h1, .header-container > h2 {
  margin: 0;
  padding: 0; }

.main-nav-spacer {
  pointer-events: none;
  user-select: none; }

.header-container, .social-media-bar {
  overflow: hidden;
  white-space: nowrap; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: url("/static/images/bg_stars.jpg") no-repeat center center fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif; }

.main-nav-spacer {
  position: relative;
  top: 0;
  z-index: -1;
  opacity: 0;
  width: 100%; }

.main-nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%; }

.header-container {
  position: relative;
  height: 30vmin;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-align: center;
  background: linear-gradient(to bottom, black, transparent); }

.header-container > h1, .header-container > h2 {
  height: 30vmin;
  line-height: 30vmin;
  width: 100%;
  position: absolute;
  text-shadow: 0.03em 0.03em 0px #B2B2B2, 0.08em 0.08em 0px rgba(0, 0, 0, 0.5); }

.header-container > h1 {
  font-size: 8vmin; }

.header-container > h2 {
  font-size: 4vmin;
  margin-top: 6.5vmin; }

.upper-nav-bar {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 0.5em; }

.upper-nav-bar > .upper-nav-bar-item {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 1em 0 1em; }

.upper-nav-bar > .upper-nav-bar-item > a {
  color: #283859; }

.upper-nav-bar > .upper-nav-bar-item > a:hover {
  color: #C45050; }

.social-media-bar {
  text-align: center;
  font-size: 3vmin; }

.social-media-bar > a {
  color: #283859; }

.social-media-bar > a:hover {
  color: #C45050; }

.main-column {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2em;
  border-radius: 5px;
  margin-bottom: 2em; }
